<div class="login">
  <h2 class="login__header">Sign in</h2>
  <!-- <p class="login__subheader">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore.
  </p>
  <form [formGroup]="loginForm">
    <div class="login__input-wrapper">
      <div class="login__input">
        <phb-input [control]="email" label="Email Address:"> </phb-input>
      </div>
      <div class="login__input">
        <phb-input [control]="password" label="Password:" type="password"></phb-input>
      </div>
    </div>
    <div class="login__utils-wrapper fw">
      <phb-checkbox [control]="remember" round="true"><strong>Remember me</strong></phb-checkbox>
      <a
        class="link link--medium"
        [routerLink]="['/auth/reset-password']"
        routerLinkActive="router-link-active"
        >Forgot password</a
      >
    </div>
  </form>-->
  <div class="login__buttons-wrapper">
    <phb-button (clicked)="signInWithGoogle()" [type]="'default'" [color]="'primary'">Sign in</phb-button>
  </div>
  <!-- <p class="login__signup-question">
    Don`t have an account?
    <a class="link link--primary" [routerLink]="['/auth/signup']" routerLinkActive="router-link-active">Sign up</a>
  </p>  -->
</div>
