<div class="reset-password">
  <h2 class="reset-password__header">Reset password</h2>
  <p class="reset-password__subheader">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore.
  </p>
  <form [formGroup]="resetPasswordRequestForm">
    <div class="reset-password__input-wrapper">
      <div class="reset-password__input">
        <phb-input [control]="email" label="Email Address:"> </phb-input>
      </div>
    </div>
  </form>
  <div class="reset-password__buttons-wrapper">
    <phb-button (clicked)="onSubmit()" [type]="'default'" [color]="'primary'"
      >Reset password</phb-button
    >
  </div>
  <p class="reset-password__signup-question">
    Do you remember password?
    <a
      class="link link--primary"
      [routerLink]="['/auth/login']"
      routerLinkActive="router-link-active"
      >Sign In</a
    >
  </p>
</div>
